.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.button-group {
    display: flex;

    ion-button {
        flex-grow: 1;
        margin: 1rem 4px 4px 4px;
    }
}

.autocomplete-container {
    position: absolute;
    left: 0;
    top: 9.5rem;
    width: 100%;
    z-index: 1000;
    background-color: white;
    height: 50%;
    overflow-y: auto;
}