<ion-header translucent>
  <ion-toolbar color="primary">
  <ion-title>Edition of {{ props?.label }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal($event)">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="shoplistForm">
    <!-- <ion-list> -->
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input formControlName="label" clearInput required>
        </ion-input>
      </ion-item>
      <ion-item>
        <!-- <ion-label position="floating">Category ?</ion-label> -->
        <ion-label>Category ?</ion-label>
        <ion-input formControlName="categoryName" clearInput></ion-input>
      </ion-item>
        <div class="autocomplete-container" *ngIf="shoplistForm.dirty && shoplistForm.value.categoryName?.length > 2 && (categories$ | async) as categories">
          <ion-list>
            <ion-item *ngFor="let category of categories; trackBy: trackByIdFn" (click)="selectCategory(category)" [button]="true">
              {{ category.label }}</ion-item>
          </ion-list>
        </div>
    <!-- </ion-list> -->
  </form>
</ion-content>
<ion-footer>
    <ion-button color="primary" (click)="edit()" expand="block">Edit<ion-icon slot="start" name="save"></ion-icon>
    </ion-button>
</ion-footer>