<div>
  <form [formGroup]="itemForm" (submit)="createShoplistItem(itemForm.value)" (keydown.enter)="createShoplistItem(itemForm.value)">
    <ion-item>
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      <ion-input #inShoplist clearInput placeholder="New Item" formControlName="label" required></ion-input>
    </ion-item>
    <ion-item *ngIf="inShoplist.value && inShoplist.value.length > 0">
      <ion-icon name="bookmark" slot="start"></ion-icon>
      <ion-input clearInput placeholder="Category ?" formControlName="category"></ion-input>
    </ion-item>
  </form>
</div>
<ion-list>
  <ion-list-header>Your list items</ion-list-header>
  <ion-item *ngFor="let item of items$ | async">
    <app-shoplist-item [item]="item"></app-shoplist-item>
  </ion-item>
</ion-list>
