<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ng-container *ngIf="profile$ | async as profile; else loginBtn">
            <ion-thumbnail slot="start">
              <ion-img [src]="profile.photoURL"></ion-img>
            </ion-thumbnail>
            <ion-label style="margin-left: 1rem;">{{profile.displayName}}</ion-label>
          </ng-container>
          <ng-template #loginBtn>
            <ion-title (click)="login()">Se connecter</ion-title>
          </ng-template>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
