<div>
  <ion-button (click)="displayForm = !displayForm">
    <ion-icon slot="start" name="add"></ion-icon>
    Add shop list
  </ion-button>

  <form *ngIf="displayForm" [formGroup]="shopListForm" (submit)="createShopList(shopListForm.value)"
    (keydown.enter)="createShopList(shopListForm.value)">
    <ion-item>
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      <ion-input #inShoplist clearInput placeholder="Name" formControlName="label" required></ion-input>
    </ion-item>
    <ion-item *ngIf="inShoplist.value && inShoplist.value.length > 0">
      <ion-icon name="bookmark" slot="start"></ion-icon>
      <ion-input clearInput placeholder="Category ?" formControlName="category"></ion-input>
    </ion-item>
  </form>
  <ion-list>
    <ion-list-header>Your shop lists</ion-list-header>
    <ion-item *ngFor="let shoplist of shoplists$ | async" (click)="goToEdit(shoplist)">
      <ion-icon name="list" slot="start"></ion-icon>
      {{shoplist.label}}
      <div class="item-note" slot="end">
        {{shoplist.categoryName}}
      </div>
    </ion-item>
  </ion-list>
</div>