<ion-content>
  <ion-list #listWithSlidings>
    <ion-item-sliding *ngFor="let shoplist of shoplists$ | async">
      <ion-item-options side="start">
        <ion-item-option  (click)="onEditClicked(shoplist)">
          <ion-icon name="create"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="onRemoveClicked(shoplist)">
          <ion-icon name="close-circle"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item  (click)="goToEdit(shoplist)">
        <ion-icon name="{{shoplist.done ? 'checkmark-done-outline' : 'list'}}" slot="start"></ion-icon>
        {{shoplist.label}}
        <div class="item-note" slot="end">
          {{shoplist.categoryName}}
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="showCreateForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>