<div *ngIf="item">
  <div class="ion-text-center title">
    <ion-input #name [value]="item.productName"></ion-input>
  </div>
  <div>
    <ion-item>
      <ion-label>Quantity</ion-label>
      <ion-input #qty type="number" [value]="item.quantity"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-input #category [value]="item.productCategoryName"></ion-input>
    </ion-item>
  </div>
  <div class="button-group">
    <ion-button color="light" (click)="cancel()">Cancel</ion-button>
    <ion-button (click)="save({productName: name.value, quantity: qty.value, category: category.value})">OK</ion-button>
  </div>
</div>